<!DOCTYPE html>
<html lang="ko" xmlns:th='http://www.thymeleaf.org' dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
    <title>Calendar</title>
    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link type="text/css" href="/dev/font.css" rel="stylesheet">

    <style>
      .text-label, .modal-title{
        font-family: 'noto_bold';
      }

      .js-lists-values-employee-name, .modal-body{
        font-family: 'noto_demilight';
        color:#303030;

      }
      .mdk-header-layout__content {
        padding-top: 56px;
      }
    </style>

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="/vendor/perfect-scrollbar.css" rel="stylesheet">
    <!-- App CSS -->
    <link type="text/css" href="/css/app.css" rel="stylesheet">
    <link type="text/css" href="/css/app.rtl.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link type="text/css" href="/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="/css/vendor-material-icons.rtl.css" rel="stylesheet">
    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
    <!-- Flatpickr -->
    <link type="text/css" href="/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
    <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
             dataLayer.push(arguments);
         }
         gtag('js', new Date());

         gtag('config', 'UA-133433427-1');
      </script>
    <!-- FullCalendar -->
    <link type="text/css" href="/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet">
</head>
<body class="layout-default">
  <div class="preloader"></div>
  <!-- Header Layout -->
  <div class="mdk-header-layout js-mdk-header-layout">
    <div th:replace="widget/header"></div>
    <div class="mdk-header-layout__content" id="newPlanDocument">
       <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
          <div class="mdk-drawer-layout__content page">
             <div class="container-fluid page__heading-container">
                <div class="page__heading d-flex align-items-center" style="margin-bottom:20px;">
                   <div class="flex">
                      <nav aria-label="breadcrumb" style="float:left">
                         <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/"><i class="material-icons icon-20pt">home</i></a></li>
                            <li class="breadcrumb-item active" aria-current="page" onclick="onPage('plan')" style="cursor:pointer;"><a>일정추가</a></li>
                            <li class="breadcrumb-item active" aria-current="page" onclick="onPage('filter')" style="cursor:pointer;">일정필터</li>
                         </ol>
                      </nav>
                      <h4 class="m-0" style="float:right; font-family: 'noto_bold';">일정추가</h4>
                   </div>
                </div>
             </div>
             <div class="container-fluid page__container">
                <div class="form-group">
                   <div class="input-group input-group-merge" style="font-family: 'noto_demilight'; color:#404040;">
                      <input id="name_1" type="text" required="" class="form-control form-control" placeholder="제목" name="title" style="margin-right:10px; flex:2 1 0%; background:#fff;">
                      <select class="form-control form-white" data-placeholder="Choose a color..." name="color" style="background:#ffffff;">
                          <option value="#FFFFFF">색상선택</option>
                          <option value="#6774DF">Primary </option>
                          <option value="#7DC668">Success</option>
                          <option value="#ff7076">Danger</option>
                          <option value="#5dd2bc">Info</option>
                          <option value="#F5B666">Warning</option>
                          <option value="#1C2260">Dark</option>
                      </select>
                      <i data-v-da9425c4="" class="material-icons icon-30pt" style="line-height:40px; margin-left:10px; color:#fff;" name="plan-color">lens</i>
                   </div>
                </div>
                <div class="form-group">
                   <label class="text-label">기간 설정</label>
                   <label class="text-label" style="color:#F5B666; font-size:0.7rem;" name="result-period"></label>
                   <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons" style="width:100%;" name="periods">
                        <label class="btn btn-light active"  style="font-family: 'noto_light'; color:#404040;" >
                            <input type="radio" name="period" checked="" data-period="days"> 일주일내
                        </label>
                       <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                           <input type="radio" name="period" data-period="weeks"> 이번주내
                       </label>
                        <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                            <input type="radio" name="period" data-period="month"> 이번달내
                        </label>
                       <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                           <input type="radio" data-toggle="modal" data-target="#modal-date"> 날짜선택
                       </label>
                    </div>
                </div>
                <div class="form-group">
                   <label class="text-label" >시간 설정</label>
                   <label class="text-label" style="color:#F5B666; font-size:0.7rem;" name="result-times">( ~ +1시간)</label>
                   <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons" style="width:100%;">
                        <label class="btn btn-light active"  style="font-family: 'noto_light'; color:#404040;" >
                            <input type="radio" name="times" checked="" data-times="1"> 1시간
                        </label>
                       <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                           <input type="radio" name="times" data-times="2"> 2시간
                       </label>
                        <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                            <input type="radio" name="times" data-times="3"> 3시간
                        </label>
                       <label class="btn btn-light"  style="font-family: 'noto_light'; color:#404040;" >
                           <input type="radio" data-toggle="modal" data-target="#modal-time"> 시간선택
                       </label>
                    </div>
                </div>
                <div class="form-group" >
                   <label class="text-label">장소</label>
                   <div class="input-group input-group-merge">
                      <input type="text" class="form-control form-control" placeholder="장소 입력" name="local" style="background:#fff;">
                   </div>
                </div>
                <div class="form-group" style="margin-bottom:6rem;">
                   <label class="text-label" for="password_2">참석자 선택</label>
                   <div class="card card-form" style="border:none">
                      <div class="row no-gutters">
                         <div class="col-lg-12 card-form__body">
                            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
                               <table class="table mb-0 thead-border-top-0">
                                  <tbody class="list" id="joinMemberTable" >
                                     <tr th:each="list : ${members}">
                                        <td>
                                           <div class="media align-items-center">
                                              <div class="avatar avatar-xs mr-2">
                                                  <span class="avatar-title rounded-circle" th:text="${list.member_initial}">AD</span>
                                              </div>
                                              <div class="media-body">
                                                 <span class="js-lists-values-employee-name" th:text="${list.member_name}"></span>
                                              </div>
                                           </div>
                                        </td>
                                        <td>
                                           <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input js-check-selected-row" th:id="'user_' + ${list.member_id}">
                                              <label class="custom-control-label" for="memberList_1" th:name="'user_' + ${list.member_id}"><span class="text-hide">Check</span></label>
                                           </div>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="form-group text-center">
                   <button class="btn btn-primary mb-2" onclick="onPage('filter')" style="width:100%;">일정필터</button><br>
                </div>
             </div>
          </div>
       </div>
    </div>

   </div>
   <div th:replace="widget/nav"></div>
   <div th:replace="plan/modal"></div>

<!-- jQuery -->
<script src="/vendor/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<!-- Perfect Scrollbar -->
<script src="/vendor/perfect-scrollbar.min.js"></script>
<!-- DOM Factory -->
<script src="/vendor/dom-factory.js"></script>
<!-- MDK -->
<script src="/vendor/material-design-kit.js"></script>
<!-- App -->
<script src="/js/toggle-check-all.js"></script>
<script src="/js/check-selected-row.js"></script>
<script src="/js/dropdown.js"></script>
<!-- <script src="/js/sidebar-mini.js"></script> -->
<script src="/js/app.js"></script>
<script src="/dev/calender.js"></script>
<!-- jQuery UI (for draggable) -->
<script src="/vendor/jquery-ui.min.js"></script>
<!-- Moment.js -->
<script src="/vendor/moment.min.js"></script>

<!-- Flatpickr -->
<script src="/vendor/flatpickr/flatpickr.min.js"></script>
<script src="/js/flatpickr.js"></script>

<script src="/dev/newEvnetListener.js"></script>
<script src="/dev/Calender/planHelper.js"></script>
<script src="/dev/Calender/FilterHelper.js"></script>
<script src="/dev/service.js"></script>
<script src="/dev/restfulApi.js"></script>
<script>
  let planHelper = new PlanHelper();
  let devService = new Service();

  function onFindPlan(){
    devService.requestPlanToMember(planHelper, function(result){

    });
  }
</script>

</body>
</html>
