<!DOCTYPE html>
<html lang="ko" xmlns:th='http://www.thymeleaf.org' dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
      <title>Calendar</title>
      <!-- Prevent the demo from appearing in search engines -->
      <meta name="robots" content="noindex">
      <link type="text/css" href="/dev/font.css" rel="stylesheet">
      <style>
         .text-label, .modal-title{
         font-family: 'noto_bold';
         }
         .js-lists-values-employee-name, .modal-body{
         font-family: 'noto_demilight';
         color:#303030;
         }
         .mdk-header-layout__content {
         padding-top: 56px;
         }
         .breadcrumb-item::before {
         display: inline-block;
         padding-right: 0.5rem;
         color: rgba(54, 76, 102, 0.24);
         content:none;
         }
      </style>
      <!-- Perfect Scrollbar -->
      <link type="text/css" href="/vendor/perfect-scrollbar.css" rel="stylesheet">
      <!-- App CSS -->
      <link type="text/css" href="/css/app.css" rel="stylesheet">
      <link type="text/css" href="/css/app.rtl.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link type="text/css" href="/css/vendor-material-icons.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-material-icons.rtl.css" rel="stylesheet">
      <!-- Font Awesome FREE Icons -->
      <link type="text/css" href="/css/vendor-fontawesome-free.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
      <!-- Flatpickr -->
      <link type="text/css" href="/css/vendor-flatpickr.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr.rtl.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
      <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
             dataLayer.push(arguments);
         }
         gtag('js', new Date());

         gtag('config', 'UA-133433427-1');
      </script>
      <!-- FullCalendar -->
      <link type="text/css" href="/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet">
      <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxf1ae5e123bf94ba0a636baaf24928eac"></script>
   </head>
   <body class="layout-default" onload="initTmap()">
      <div class="preloader"></div>
      <!-- Header Layout -->
      <div class="mdk-header-layout js-mdk-header-layout">
         <div th:replace="widget/header"></div>
         <div class="mdk-header-layout__content" id="newPlanDocument">
            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
               <div class="mdk-drawer-layout__content page">
                  <div class="container-fluid page__heading-container">
                     <div class="page__heading d-flex align-items-center" style="margin-bottom:10px;">
                        <div class="flex">
                           <nav aria-label="breadcrumb" style="float:left">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="javascript:history.back();"><i class="material-icons" style="font-size:2.2rem;">keyboard_arrow_left</i></a></li>
                              </ol>
                           </nav>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; color:#000000;">일정</h4>
                        </div>
                     </div>
                  </div>
                  <div class="container-fluid page__container">
                     <div class="form-group">
                        <div class="input-group input-group-merge" style="font-family: 'noto_demilight'; " th:switch="${plan.color}">
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; color:#000000;" th:text="${plan.title}">앱디자인</h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'main-business'" >주업무<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'sub-business'" >부업무<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'friends'" >친구, 지인<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'family'" >가족<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'develop'" >자기계발<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'networking'" >인맥관리<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; right:0; position:absolute; color:#000000;" th:case="'etc'" >이동, 기타<span class="badge ml-2" th:classappend="${plan.color}" style="line-height:1.5">&nbsp</span></h4>
                        </div>
                     </div>
                     <div class="form-group mt-3">
                        <div class="input-group input-group-merge" style="font-family: 'noto_demilight'; border-bottom:1px solid #E1E1E1; padding-bottom:10px;">
                           <p class="m-0" style="float:right; font-family: 'noto_light';  color:#838383; min-width:200px;" th:text="${#temporals.format(plan.startTime, 'yyyy. MM. dd')}">2021. 06. 15</p>
                           <p class="m-0" style="float:right; font-family: 'noto_light';  color:#838383; right:0; position:absolute;">
                              <span th:text="${#temporals.format(plan.startTime, 'HH:mm')}"></span> ~ <span th:text="${#temporals.format(plan.endTime, 'HH:mm')}"></span>
                           </p>
                        </div>
                     </div>
                     <div class="form-group" id="div-todoList">
                        <div class="input-group input-group-merge  mt-2" th:each="todo : ${plan.todoList}">
                           <input type="text" class="form-control form-control" style="background:#fff; flex:2 1 0%; min-height:41px;" th:value="${todo.content}">
                           <div data-v-da9425c4="" data-v-70995076="" class="icon" onclick="removeTodoList(this)">
                              <i data-v-da9425c4="" class="material-icons" style="color:#A6B0BC; font-size:30px; margin-top:5px;" >close</i>
                           </div>
                        </div>
                        <button class="btn btn-light mb-2 mt-2" onclick="addTodoList(this);" style="width:100%;" id="btn-add-list">
                           <div data-v-da9425c4="" data-v-70995076="" class="icon">
                              <i data-v-da9425c4="" class="material-icons" style="color:#404040; font-size:30px;">add</i><span style="color:#404040;">항목추가</span>
                           </div>
                        </button>
                     </div>
                     <div class="form-group" >
                        <h4 class="mb-2" style="font-family: 'noto_bold'; color:#000000;">장소
                           <a id="nextPlanRoute" style="float:right; font-size:14px; line-height:2.5; font-family: 'noto_demilight'; color:#5478B5;"></a>
                        </h4>
                        <div class="input-group input-group-merge">
                           <input type="text" class="form-control form-control" name="local" style="background:#fff;" th:value="'[' + ${plan.map.name} + '] ' + ${plan.map.address}"readonly>
                        </div>
                        <div class="input-group input-group-merge mt-3" id="map">
                        </div>
                     </div>
                     <div class="form-group text-center">
                        <button class="btn btn-primary mb-2" onclick="onUpdate()" style="width:100%; margin-top:50px;">변경사항 저장</button><br>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div th:replace="widget/nav"></div>
      <div th:replace="plan/modal"></div>
      <!-- jQuery -->
      <script src="/vendor/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/vendor/popper.min.js"></script>
      <script src="/vendor/bootstrap.min.js"></script>
      <!-- Perfect Scrollbar -->
      <script src="/vendor/perfect-scrollbar.min.js"></script>
      <!-- DOM Factory -->
      <script src="/vendor/dom-factory.js"></script>
      <!-- MDK -->
      <script src="/vendor/material-design-kit.js"></script>
      <!-- App -->
      <script src="/js/toggle-check-all.js"></script>
      <script src="/js/check-selected-row.js"></script>
      <script src="/js/dropdown.js"></script>
      <!-- <script src="/js/sidebar-mini.js"></script> -->
      <script src="/js/app.js"></script>
      <script src="/dev/calender.js"></script>
      <!-- jQuery UI (for draggable) -->
      <script src="/vendor/jquery-ui.min.js"></script>
      <!-- Moment.js -->
      <script src="/vendor/moment.min.js"></script>
      <!-- Flatpickr -->
      <script src="/dev/service.js"></script>
      <script src="/dev/restfulApi.js"></script>
      <script>
         const devService = new Service();

         function getPosition(){
             var startPoint, endPoint;
             if ([[( ${prePlanCnt} )]] > 0) {
               startPoint = Tmapv2.Projection.convertEPSG3857ToWGS84GEO( new Tmapv2.Point("[[( ${prePlan?.map?.lon} )]]", "[[( ${prePlan?.map?.lat} )]]") );
               endPoint = Tmapv2.Projection.convertEPSG3857ToWGS84GEO( new Tmapv2.Point("[[( ${plan.map.lon} )]]", "[[( ${plan.map.lat} )]]"));
               getNextArriveTime(startPoint, endPoint);
             }
             else{
               loadPost(function(lat, lng){
                 startPoint = new Tmapv2.LatLng(lat,lng);
                 endPoint = Tmapv2.Projection.convertEPSG3857ToWGS84GEO( new Tmapv2.Point("[[( ${plan.map.lon} )]]", "[[( ${plan.map.lat} )]]"));
                 getNextArriveTime(startPoint, endPoint);

               });
             }
         }

         function getNextArriveTime(startPoint, endPoint){
           console.log("startPoint : " , startPoint);
           console.log("endPoint : " , endPoint);
           $.ajax({
               type : "POST",
               url : "https://apis.openapi.sk.com/tmap/routes?version=1&format=json&callback=result",
               async : false,
               data : {
                 "appKey" : "l7xxf1ae5e123bf94ba0a636baaf24928eac",
                 "startX" : startPoint._lng+"",
                 "startY" : startPoint._lat+"",
                 "endX" :  endPoint._lng+"",
                 "endY" : endPoint._lat+"",
                 "reqCoordType" : "WGS84GEO",
                 "resCoordType" : "EPSG3857",
                 "searchOption" : 0,
                 "trafficInfo" : "N"
               },
               success : function(response) {
                  console.log("response : " , response);
                   var resultData = response.features;
                   var tDistance = "총 거리 : "	+ (resultData[0].properties.totalDistance / 1000).toFixed(1) + "km,";
                   var tTime = " 총 시간 : "	+ (resultData[0].properties.totalTime / 60).toFixed(0) + "분,";
                   var tFare = " 총 요금 : " + resultData[0].properties.totalFare + "원,";
                   var taxiFare = " 예상 택시 요금 : "	+ resultData[0].properties.taxiFare	+ "원";

                  $("#nextPlanRoute").text("차량이용시 " + tTime.replace(",","") + " 예상");
                   console.log(tDistance + tTime + tFare + taxiFare);
             }
           });
         }

         var map;
         function initTmap(){
           	map = new Tmapv2.Map("map", {
           		center: new Tmapv2.LatLng(37.566481622437934,126.98502302169841),
           		width: "100%", // map의 width 설정
           		height: "300px" // map의 height 설정
           	});
            map.setOptions({ draggable: true });

           	var epsg3857 = new Tmapv2.Point("[[( ${plan.map.lon} )]]",  "[[( ${plan.map.lat} )]]");
           	var wgs84 = Tmapv2.Projection.convertEPSG3857ToWGS84GEO(epsg3857);

           	var marker1 = new Tmapv2.Marker({
           		position: wgs84,
           		icon: 'http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_a.png',
           		map: map
            });

           	// 지도를 이동시킵니다.
           	map.setCenter(wgs84);

            getPosition();
         }
         function loadPost(callback) {
          	//alert(navigator.geolocation)
          	if (!!navigator.geolocation) {
          		navigator.geolocation.getCurrentPosition(function (position) {
                	var lat = position.coords.latitude;
                	var lng = position.coords.longitude;
                  callback(lat, lng);
              },errorCallback);

          	}
            else{
          		alert("이 브라우저는 Geolocation를 지원하지 않습니다");
          	}
        }
        function errorCallback(error){
        	// alert(error.message);
        }

         function addTodoList(target) {
             target = $(target);

             target.before("<div class=\"input-group input-group-merge  mt-2\">" +
                 "<input type=\"text\" class=\"form-control form-control\" placeholder=\"내용 입력\" name=\"local\" style=\"background:#fff; flex:2 1 0%; min-height:41px;\">" +
                 "<div data-v-da9425c4=\"\" data-v-70995076=\"\" class=\"icon\" onclick=\"removeTodoList(this)\">" +
                 "<i data-v-da9425c4=\"\" class=\"material-icons\" style=\"color:#A6B0BC; font-size:30px; margin-top:5px;\" >close</i>" +
                 "</div>" +
                 "</div>");
         }

         function removeTodoList(target) {
             target = $(target).parent();

             $("#div-todoList").children()[target.index()].remove();
         }

         function onUpdate() {
             var todoList = new Array();
             var listArray = $("#div-todoList").children().toArray();

             listArray.forEach((item, i) => {
                 var row = $(item).find("input[type='text']");
                 if (row.length > 0)
                     todoList.push(row.val());
             });

             devService.updateTodoList(planId, todoList, function (result) {
                 if (result) {
                     console.log("result : ", result);
                     alert("변경되었습니다.");
                     location.href = "/todo/detail?id=" + planId;
                 }
             });
         }
      </script>
   </body>
</html>
