<!DOCTYPE html>
<html lang="ko" xmlns:th='http://www.thymeleaf.org' dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
      <title>Calendar</title>
      <!-- Prevent the demo from appearing in search engines -->
      <meta name="robots" content="noindex">
      <link type="text/css" href="/dev/font.css" rel="stylesheet">
      <style>
         .text-label, .modal-title{
         font-family: 'noto_bold';
         }
         .js-lists-values-employee-name, .modal-body{
         font-family: 'noto_demilight';
         color:#303030;
         }
         .mdk-header-layout__content {
         padding-top: 56px;
         }
         .breadcrumb-item::before {
         display: inline-block;
         padding-right: 0.5rem;
         color: rgba(54, 76, 102, 0.24);
         content:none;
         }
      </style>
      <!-- Perfect Scrollbar -->
      <link type="text/css" href="/vendor/perfect-scrollbar.css" rel="stylesheet">
      <!-- App CSS -->
      <link type="text/css" href="/css/app.css" rel="stylesheet">
      <link type="text/css" href="/css/app.rtl.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link type="text/css" href="/css/vendor-material-icons.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-material-icons.rtl.css" rel="stylesheet">
      <!-- Font Awesome FREE Icons -->
      <link type="text/css" href="/css/vendor-fontawesome-free.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
      <!-- Flatpickr -->
      <link type="text/css" href="/css/vendor-flatpickr.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr.rtl.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
      <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
             dataLayer.push(arguments);
         }
         gtag('js', new Date());

         gtag('config', 'UA-133433427-1');
      </script>
      <!-- FullCalendar -->
      <link type="text/css" href="/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet">
   </head>
   <body class="layout-default">
      <div class="preloader"></div>
      <!-- Header Layout -->
      <div class="mdk-header-layout js-mdk-header-layout">
         <div th:replace="widget/header"></div>
         <div class="mdk-header-layout__content" id="newPlanDocument">
            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
               <div class="mdk-drawer-layout__content page">
                  <div class="container-fluid page__heading-container">
                     <div class="page__heading d-flex align-items-center" style="margin-bottom:10px;">
                        <div class="flex">
                           <nav aria-label="breadcrumb" style="float:left">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="/"><i class="material-icons" style="font-size:2.2rem;">keyboard_arrow_left</i></a></li>
                              </ol>
                           </nav>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold'; color:#000000;">투두리스트</h4>
                        </div>
                     </div>
                  </div>
                  <div class="container-fluid page__container" th:each="plan : ${plans}">
                     <div class="card p-3 mb-3" th:each="todo : ${plan.todoList}" th:onclick=" 'location.href=\'/todo/detail?id=' + ${plan.id}+ '\'' ">
                        <div class="d-flex">
                           <div class="flex-fill d-flex">
                              <div class="avatar avatar-md mr-3" data-toggle="tooltip" data-placement="top" title="Luke P." style="margin:0 !important">
                                 <div class="avatar avatar-xs">
                                    <span class="avatar-title rounded-circle" th:classappend="${plan.color}"  ></span>
                                 </div>
                              </div>
                              <div class="flex-fill">
                                 <div class="mb-2" style="font-family:'noto_bold'">
                                    <span th:text="${todo.content}"></span>
                                 </div>

                                 <span class="badge mr-1" style="font-family:'noto_demilight'" th:text="${plan.title}"></span>
                              </div>
                           </div>
                           <div class="text-muted" style="min-width:80px; color:#F13838 !important; font-family:'noto_demilight'; font-size:12px; text-align:right;" th:text="'~ ' + ${#temporals.format(plan.endTime, 'MM월 dd일')}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div th:replace="widget/nav"></div>
      <div th:replace="plan/modal"></div>
      <!-- jQuery -->
      <script src="/vendor/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/vendor/popper.min.js"></script>
      <script src="/vendor/bootstrap.min.js"></script>
      <!-- Perfect Scrollbar -->
      <script src="/vendor/perfect-scrollbar.min.js"></script>
      <!-- DOM Factory -->
      <script src="/vendor/dom-factory.js"></script>
      <!-- MDK -->
      <script src="/vendor/material-design-kit.js"></script>
      <!-- App -->
      <script src="/js/toggle-check-all.js"></script>
      <script src="/js/check-selected-row.js"></script>
      <script src="/js/dropdown.js"></script>
      <!-- <script src="/js/sidebar-mini.js"></script> -->
      <script src="/js/app.js"></script>
      <script src="/dev/calender.js"></script>
      <!-- jQuery UI (for draggable) -->
      <script src="/vendor/jquery-ui.min.js"></script>
      <!-- Moment.js -->
      <script src="/vendor/moment.min.js"></script>
      <!-- Flatpickr -->
      <script src="/dev/service.js"></script>
      <script src="/dev/restfulApi.js"></script>
      <script>
         const devService = new Service();
      </script>
   </body>
</html>
