<div class="container-fluid page__container" style="height:70px; width:100%; background:#FAFBFE; bottom:0; position:fixed; padding:0px; z-index:999; max-width:none;">
   <table class="table mb-0 thead-border-top-0">
      <tbody class="list">
         <tr>
            <td style="border:none; cursor:pointer;" onclick="location.href='/plan/monthly'">
               <div class="media align-items-center">
                  <div class="avatar avatar-sm mr-1">
                     <span class="avatar-title rounded-circle"  >
                       <i class="material-icons icon-25pt">event_available</i>
                     </span>
                     <small class="text-muted" style="font-weight:bold;">캘린더</small>
                  </div>
               </div>
            </td>
            <td  style="border:none; cursor:pointer;" onclick="location.href='/todo/list'">
               <div class="media align-items-center">
                  <div class="avatar avatar-sm mr-1">
                     <span class="avatar-title rounded-circle" style="background:#DEDEDE; margin-bottom:3px;">
                       <i class="material-icons icon-25pt">event_available</i>
                     </span>
                     <small class="text-muted" style="font-weight:bold;" >TODO</small>
                  </div>
               </div>
            </td >
            <td style="border:none; cursor:pointer;" onclick="location.href='/plan/private/add'">
               <div class="media align-items-center">
                  <div class="avatar avatar-sm mr-1">
                     <span class="avatar-title rounded-circle" style="background:#5478B5; margin-bottom:3px;">
                       <i class="material-icons icon-40pt">add</i>
                     </span>
                     <small class="text-muted" style="font-weight:bold;">&nbsp&nbsp추가</small>
                  </div>
               </div>
            </td>
            <td  style="border:none; cursor:pointer;">
               <div class="media align-items-center">
                  <div class="avatar avatar-sm mr-1">
                     <span class="avatar-title rounded-circle" style="background:#DEDEDE; margin-bottom:3px;">
                       <i class="material-icons icon-25pt">event_available</i>
                     </span>
                     <span><small class="text-muted" style="font-weight:bold;">&nbsp&nbsp검색</small></span>
                  </div>
               </div>
            </td>
            <td style="border:none; cursor:pointer;">
               <div class="media align-items-center">
                  <div class="avatar avatar-sm mr-1">
                     <span class="avatar-title rounded-circle" style="background:#DEDEDE; margin-bottom:3px;">
                       <i class="material-icons icon-25pt">event_available</i>
                     </span>
                     <small class="text-muted" style="font-weight:bold;" >&nbsp&nbsp메모</small>
                  </div>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
