<div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
   <div class="mdk-header__content">
      <div class="navbar navbar-expand-sm navbar-main navbar-light bg-white pr-0" id="navbar" data-primary>
         <div class="container-fluid p-0">
            <!-- Navbar toggler -->
            <button class="navbar-toggler navbar-toggler-right d-block d-lg-none" type="button" data-toggle="sidebar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Brand -->
            <a href="/" class="navbar-brand ">
            <span style="color:#5377B3">plancus</span>
            </a>
         </div>
      </div>
   </div>
</div>
