<!-- // END drawer-layout__content -->
<div class="mdk-drawer js-mdk-drawer" id="default-drawer" data-align="start">
   <div class="mdk-drawer__content">
      <div class="sidebar sidebar-light sidebar-left sidebar-p-t" data-perfect-scrollbar>
         <div class="sidebar-heading">Menu</div>
         <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
               <a class="sidebar-menu-button" data-toggle="collapse" href="#dashboards_menu">
               <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
               <span class="sidebar-menu-text">Dashboards</span>
               <span class="ml-auto sidebar-menu-toggle-icon"></span>
               </a>
            </li>
             <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" data-toggle="collapse" href="#dashboards_menu">
                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                <span class="sidebar-menu-text">Logout</span>
                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
             </li>
         </ul>
      </div>
   </div>
</div>
