<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center" style="margin-bottom:20px;">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/"><i class="material-icons icon-20pt">home</i></a></li>
                    <li class="breadcrumb-item active" aria-current="page" >Calendar</li>
                </ol>
            </nav>
        </div>
        <a href="/plan/new" class="btn ml-3" style="background-color:#5478B5; color:#fff;">New<i class="material-icons">add</i></a>
    </div>
</div>
