<!DOCTYPE html>
<html lang="ko" xmlns:th='http://www.thymeleaf.org' dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
      <title>Calendar</title>
      <!-- Prevent the demo from appearing in search engines -->
      <meta name="robots" content="noindex">
      <link type="text/css" href="/dev/font.css" rel="stylesheet">
      <style>
         .text-label, .modal-title{
         font-family: 'noto_bold';
         }
         .js-lists-values-employee-name, .modal-body{
         font-family: 'noto_demilight';
         color:#303030;
         }
         .mdk-header-layout__content {
         padding-top: 56px;
         }
      </style>
      <!-- Perfect Scrollbar -->
      <link type="text/css" href="/vendor/perfect-scrollbar.css" rel="stylesheet">
      <!-- App CSS -->
      <link type="text/css" href="/css/app.css" rel="stylesheet">
      <link type="text/css" href="/css/app.rtl.css" rel="stylesheet">
      <!-- Material Design Icons -->
      <link type="text/css" href="/css/vendor-material-icons.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-material-icons.rtl.css" rel="stylesheet">
      <!-- Font Awesome FREE Icons -->
      <link type="text/css" href="/css/vendor-fontawesome-free.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
      <!-- Flatpickr -->
      <link type="text/css" href="/css/vendor-flatpickr.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr.rtl.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
      <link type="text/css" href="/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
      <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
             dataLayer.push(arguments);
         }
         gtag('js', new Date());

         gtag('config', 'UA-133433427-1');
      </script>
      <!-- FullCalendar -->
      <link type="text/css" href="/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet">
   </head>
   <body class="layout-default">
      <div class="preloader"></div>
      <!-- Header Layout -->
      <div class="mdk-header-layout js-mdk-header-layout">
         <div th:replace="widget/header"></div>
         <div class="mdk-header-layout__content" id="newFilterResultDocument">
            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
               <div class="mdk-drawer-layout__content page">
                  <div class="container-fluid page__heading-container">
                     <div class="page__heading d-flex align-items-center" style="margin-bottom:20px;">
                        <div class="flex">
                           <nav aria-label="breadcrumb" style="float:left">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="/"><i class="material-icons icon-20pt">home</i></a></li>
                                 <li class="breadcrumb-item active" aria-current="page" onclick="location.href='/plan/public/list'" style="cursor:pointer;">MyPlancus</li>
                                 <li class="breadcrumb-item active" aria-current="page" style="cursor:pointer;"><a>Confirm</a></li>
                              </ol>
                           </nav>
                           <h4 class="m-0" style="float:right; font-family: 'noto_bold';">AI 일정 추천</h4>
                        </div>
                     </div>
                  </div>
                  <div class="container-fluid page__container">
                     <div class="form-group" style="margin-bottom:2rem;">
                        <label class="text-label" >현재 일정 기반 최적화된 순위</label>
                        <label id="label-show-toggle" class="text-label" style="float:right; font-family:none; color:#64BAF5; cursor:pointer; text-decoration: underline; font-size:0.7rem;" onclick="filterHelper.showMore();" data-toggle="false">전체보기</label>
                        <div class="card card-form" style="border:none">
                           <div class="row no-gutters">
                              <div class="col-lg-12 card-form__body">
                                 <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
                                    <table class="table mb-0 thead-border-top-0">
                                       <thead>
                                          <tr>
                                             <th style="width: 5px;" class="text-left">순위</th>
                                             <th style="width: 38px;" class="text-left">날짜</th>
                                             <th style="width: 5px;" class="text-right">선택</th>
                                          </tr>
                                       </thead>
                                       <tbody class="list" id="list-priority"></tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group" style="margin-bottom:6rem;">
                        <label class="text-label" >일정 충돌 여부</label>
                        <div class="card card-form" style="border:none">
                           <div class="row no-gutters">
                              <div class="col-lg-12 card-form__body">
                                 <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
                                    <table class="table mb-0 thead-border-top-0">
                                       <thead>
                                          <tr>
                                             <th style="width: 38px;" class="text-left">날짜</th>
                                             <th style="width: 5px;" class="text-center">충돌자</th>
                                          </tr>
                                       </thead>
                                       <tbody class="list" id="list-conflict"></tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group text-center">
                        <button class="btn btn-primary mb-2" style="width:100%;" data-toggle="modal" data-target="#modal-confirm">일정 추가</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div th:replace="widget/nav"></div>
      <div th:replace="plan/modal"></div>
      <!-- jQuery -->
      <script src="/vendor/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="/vendor/popper.min.js"></script>
      <script src="/vendor/bootstrap.min.js"></script>
      <!-- Perfect Scrollbar -->
      <script src="/vendor/perfect-scrollbar.min.js"></script>
      <!-- DOM Factory -->
      <script src="/vendor/dom-factory.js"></script>
      <!-- MDK -->
      <script src="/vendor/material-design-kit.js"></script>
      <!-- App -->
      <script src="/js/toggle-check-all.js"></script>
      <script src="/js/check-selected-row.js"></script>
      <script src="/js/dropdown.js"></script>
      <!-- <script src="/js/sidebar-mini.js"></script> -->
      <script src="/js/app.js"></script>
      <script src="/dev/calender.js"></script>
      <!-- jQuery UI (for draggable) -->
      <script src="/vendor/jquery-ui.min.js"></script>
      <!-- Moment.js -->
      <script src="/vendor/moment.min.js"></script>
      <!-- Flatpickr -->
      <script src="/vendor/flatpickr/flatpickr.min.js"></script>
      <script src="/js/flatpickr.js"></script>
      <script src="/dev/newEvnetListener.js"></script>
      <script src="/dev/Calender/planHelper.js"></script>
      <script src="/dev/Calender/FilterHelper.js"></script>
      <script src="/dev/service.js"></script>
      <script src="/dev/restfulApi.js"></script>

      <script>
         const headId = [[( ${#request.getParameter('id')} )]] ;

         let filterHelper = new FilterHelper();
         let devService = new Service();

         $(document).ready(function() {
             devService.findAvaiablePlan(headId, function(result){
               console.log("result : " , result)
               filterHelper.showResult(result, 5);

             });
         });

      </script>
   </body>
</html>
